<div class="c-layout-page">
	<!-- BEGIN: PAGE CONTENT -->
	<div class="c-content-box">
    <div id="slider" class="owl-theme section section-cate slideshow_full_width ">
      <div id="slide_banner" class="owl-carousel">
        <div class="item">
          <a href="trangchu" alt="nick ninja">
            <img src="assets/assets/images/banner2.jpg">
          </a>
        </div>
        <div class="item">
          <a href="trangchu" alt="nick ninja">
            <img src="assets/assets/images/banner.png">
          </a>
        </div>
        <div class="item">
          <a href="trangchu" alt="nick ninja">
            <img src="assets/assets/images/banner1.jpg">
          </a>
        </div>
      </div>
    </div>
	<div class="c-content-box c-size-md c-bg-white">
		<div class="container">
			<!-- Begin: Testimonals 1 component -->
			<div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl">
				<!-- Begin: Title 1 component -->
				<div class="c-content-title-1">
					<h3 class="c-center c-font-uppercase c-font-bold">Dịch vụ nổi bật</h3>
					<div class="c-line-center c-theme-bg"></div>
				</div>
				<div class="owl-carousel owl-theme c-theme owl-bordered1 c-owl-nav-center" data-items="4" data-desktop-items="4" data-desktop-small-items="3" data-tablet-items="3" data-mobile-items="2" data-slide-speed="5000" data-rtl="fase">
					<div class="item">
						<a href="/atm" ><img src="assets/assets/images/napuc.jpg" alt="Nạp ATM - Ví"/></a>
					</div>
					
					<div class="item">
						<a href="/nap-the" ><img src="assets/assets/images/napthe.jpg" alt="Nạp Thẻ Cào"/></a>
					</div>
					
					<div class="item">
						<a href="#" ><img src="assets/assets/images/xukpah.jpg" alt="Bán nick Ninja"/></a>
					</div>
					
					<div class="item">
						<a href="#" ><img src="assets/assets/images/xuninja.jpg" alt="Bán Xu Ninja"/></a>
					</div>
				</div>
				<!-- End-->
			</div>
			<!-- End-->
		</div>
	</div>    <div class="c-content-box c-size-md c-bg-white">
		<div class="container">
			<!-- Begin: Testimonals 1 component -->
			<div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl">
				<!-- Begin: Title 1 component -->
				<div class="c-content-title-1">
					<h3 class="c-center c-font-uppercase c-font-bold">Danh mục game</h3>
					<div class="c-line-center c-theme-bg"></div>
				</div>
				<div class="row row-flex-safari game-list">
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="teamobi/NSO.html" title="Ninja School Online" class=""><img src="assets/assets/images/udGn8J4qUp_1582866223.gif" alt="Ninja School Online"></a>

							</div>
							<div class="news_title">
								<h2>
									<a href="teamobi/NSO.html" title="Ninja School Online">Ninja School Online</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 20,108
								</p>
								<p>
									Đã bán: 7,150
								</p>
							</div>
							<div class="a-more">
								<div class="row">
									<div class="col-xs-12">
										<div class="view">
											<a href="teamobi/NSO.html" title="Ninja School Online">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="teamobi/KPAH.html" class=""><img src="assets/assets/images/1jdNzko4Lb_1582866125.gif" alt="Ngọc Rồng Online"></a>
							</div>
							<div class="news_title">
								<h2>
									<a href="teamobi/KPAH.html" title="Ngọc Rồng Online">NGỌC RỒNG ONLINE</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 253
								</p>
								<p>
									Đã bán: 14
								</p>
							</div>
							<div class="a-more">
								<div class="row">

									<div class="col-xs-12">
										<div class="view">
											<a href="teamobi/KPAH.html" title="Ngọc Rồng Online">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
                                <a href="/sohagame/dau-an-rong" title="Dấu Ấn Rồng" class=""><img src="assets/assets/images/5zNPJSPEog_1586544725.gif" alt="Dấu Ấn Rồng"></a>
							</div>
							<div class="news_title">
								<h2>
									<a href="/sohagame/dau-an-rong" title="Dấu Ấn Rồng">Dấu Ấn Rồng</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 528
								</p>
								<p>
									Đã bán: 0
								</p>
							</div>
							<div class="a-more">
								<div class="row">

									<div class="col-xs-12">
										<div class="view">
											<a href="/garena/free-fire" title="Free Fire">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="/garena/lien-quan-mobile" title="Liên Quân Mobile" class=""><img src="assets/assets/images/6mCugd2Ejs_1583029528.gif" alt="Liên Quân Mobile"></a>
							</div>
							<div class="news_title">
								<h2>
									<a href="/garena/lien-quan-mobile" title="Liên Quân Mobile">Liên Quân Mobile</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 484
								</p>
								<p>
									Đã bán: 528
								</p>
							</div>
							<div class="a-more">
								<div class="row">
									<div class="col-xs-12">
										<div class="view">
											<a href="/garena/lien-quan-mobile" title="Liên Quân Mobile">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="/teamobi/hai-tac-ti-hon" title="Hải Tặc Tí Hon" class=""><img src="assets/assets/images/ZFldlt3ToJ_1584559251.gif" alt="Hải Tặc Tí Hon"></a>
							</div>
							<div class="news_title">
								<h2>
									<a href="/teamobi/hai-tac-ti-hon" title="Hải Tặc Tí Hon">Hải Tặc Tí Hon</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 22
								</p>
								<p>
									Đã bán: 0
								</p>
							</div>
							<div class="a-more">
								<div class="row">
									<div class="col-xs-12">
										<div class="view">
											<a href="/teamobi/hai-tac-ti-hon" title="Hải Tặc Tí Hon">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="/garena/free-fire" title="Free Fire" class=""><img src="assets/assets/images/eqV0iBeti6_1582866170.gif" alt="Free Fire"></a>
							</div>
							<div class="news_title">
								<h2>
									<a href="/garena/free-fire" title="Free Fire">Free Fire</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 154
								</p>
								<p>
									Đã bán: 66
								</p>
							</div>
							<div class="a-more">
								<div class="row">
									<div class="col-xs-12">
										<div class="view">
											<a href="/sohagame/dau-an-rong" title="Dấu Ấn Rồng">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="/vinagame/pubg-mobile" title="Pubg Mobile" class=""><img src="assets/assets/images/Ldyo5Cu5bK_1587049664.gif" alt="Pubg Mobile"></a>
							</div>
							<div class="news_title">
								<h2>
									<a href="/vinagame/pubg-mobile" title="Pubg Mobile">Pubg Mobile</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 0
								</p>
								<p>
									Đã bán: 0
								</p>
							</div>
							<div> class="a-more">
								<div class="row">
									<div class="col-xs-12">
										<div class="view">
											<a href="/vinagame/pubg-mobile" title="Pubg Mobile">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image"><a href="/rubywheel/988" class=""><img src="assets//assets/images/IuFanCoyUj_1583832340.gif" alt="Vòng Quay Xu May Mắn 20k"></a></div>
							<div class="news_title"><a href="/rubywheel/988">Vòng Quay Xu May Mắn 20k</a></div>
							<div class="news_description">
								<p>
								Nick đã trúng: 8489</p>
								<p>Người quay: 9809
								</p>
							</div>
							<div class="a-more">
								<div class="row">

									<div class="col-xs-12">
										<div class="view">
											<a href="/rubywheel/988">Xem tất cả</a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!--quay vong vong-->
				</div>
				<!-- End-->
			</div>
			<!-- End-->
		</div>
	</div>
	<div class="c-content-box c-size-md c-bg-white">
		<div class="container">
			<!-- Begin: Testimonals 1 component -->
			<div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl">
				<!-- Begin: Title 1 component -->
				<div class="c-content-title-1">
					<h3 class="c-center c-font-uppercase c-font-bold">Danh mục dịch vụ</h3>
					<div class="c-line-center c-theme-bg"></div>
				</div>
				<div class="row row-flex-safari game-list">
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="/dich-vu/dich-vu-game-ninja" class=""><img src="assets/assets/images/Qr4NX2zZUK_1582866240.gif"></a>
							</div>
							<div class="news_title"><a href="/dich-vu/dich-vu-game-ninja">Dịch Vụ Game Ninja</a></div>
							<div class="news_description">
								<p>
									Dịch vụ hỗ trợ: 3
								</p>
								<p>
									Giao dịch: 13,662
								</p>
							</div>
							<div class="a-more">
								<div class="row">

									<div class="col-xs-12">
										<div class="view">
											<a href="/dich-vu/dich-vu-game-ninja">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="/dich-vu/dich-vu-game-ngoc-rong" class=""><img src="assets/assets/images/2FlBMNXTzC_1583058551.gif"></a>
							</div>
							<div class="news_title"><a href="/dich-vu/dich-vu-game-ngoc-rong">Dịch Vụ Game Ngọc Rồng</a></div>
							<div class="news_description">
								<p>
									Dịch vụ hỗ trợ: 1
								</p>
								<p>
									Giao dịch: 1
								</p>
							</div>
							<div class="a-more">
								<div class="row">
									<div class="col-xs-12">
										<div class="view">
											<a href="/dich-vu/dich-vu-game-ngoc-rong">Xem tất cả</a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End-->
			</div>
			<!-- End-->
		</div>
	</div>
<!-- END: PAGE CONTENT -->