<div class="c-layout-page">
	<!-- BEGIN: PAGE CONTENT -->
	<div class="c-content-box">
    <div id="slider" class="owl-theme section section-cate slideshow_full_width ">
      <div id="slide_banner" class="owl-carousel">
        <div class="item">
          <a routerLink="/home">
            <img src="assets/assets/images/Cover.gif">
          </a>
        </div>
        <div class="item">
          <a routerLink="/home">
            <img src="assets/assets/images/banner1.jpg">
          </a>
        </div>
        <div class="item">
          <a routerLink="/home">
            <img src="assets/assets/images/banner2.png">
          </a>
        </div>
      </div>
    </div>
	<div class="c-content-box c-size-md c-bg-white">
		<div class="container">
			<!-- Begin: Testimonals 1 component -->
			<div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl">
				<!-- Begin: Title 1 component -->
				<div class="c-content-title-1">
					<h3 class="c-center c-font-uppercase c-font-bold">Dịch vụ nổi bật</h3>
					<div class="c-line-center c-theme-bg"></div>
				</div>
				<div class="owl-carousel owl-theme c-theme owl-bordered1 c-owl-nav-center" data-items="4" data-desktop-items="4" 
				data-desktop-small-items="3" data-tablet-items="3" data-mobile-items="2" data-slide-speed="5000" data-rtl="fase">
					<div class="item">
						<a routerLink="/ucpubg" ><img src="assets/assets/images/xuninja.jpg"/></a>
					</div>
					
					<div class="item">
						<a routerLink="/napthe" ><img src="assets/assets/images/napthe.jpg"/></a>
					</div>
					
					<div class="item">
						<a href="#" ><img src="assets/assets/images/xukpah.jpg"/></a>
					</div>
					
					<div class="item">
						<a routerLink="/home/ucpubg" ><img src="assets/assets/images/napuc.jpg"/></a>
					</div>
				</div>
				<!-- End-->
			</div>
			<!-- End-->
		</div>
	</div>    <div class="c-content-box c-size-md c-bg-white">
		<div class="container">
			<!-- Begin: Testimonals 1 component -->
			<div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl">
				<!-- Begin: Title 1 component -->
				<div class="c-content-title-1">
					<h3 class="c-center c-font-uppercase c-font-bold">Danh mục game</h3>
					<div class="c-line-center c-theme-bg"></div>
				</div>
				<div class="row row-flex-safari game-list">
					<ng-container *ngFor="let loai of theloai">
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a routerLink="/product"><img src="assets/assets/images/{{ loai.image }}"></a>
							</div>
							<div class="news_title">
								<h2>
									<a routerLink="/home/product">{{ loai.tenTheLoai }}</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 20,108
								</p>
								<p>
									Đã bán: 7,150
								</p>
							</div>
							<div class="a-more">
								<div class="row">
									<div class="col-xs-12">
										<div class="view">
											<a [routerLink]="['/product',loai.id]">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</ng-container>
				</div>
				<!-- End-->
			</div>
			<!-- End-->
		</div>
	</div>
	<div class="c-content-box c-size-md c-bg-white">
		<div class="container">
			<!-- Begin: Testimonals 1 component -->
			<div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl">
				<!-- Begin: Title 1 component -->
				<div class="c-content-title-1">
					<h3 class="c-center c-font-uppercase c-font-bold">Danh mục dịch vụ</h3>
					<div class="c-line-center c-theme-bg"></div>
				</div>
				<div class="row row-flex-safari game-list">
					<ng-container *ngFor = "let dv of dichvu">
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="#"><img src="assets/assets/images/{{ dv.image }}"></a>
							</div>
							<div class="news_title"><a href="/dich-vu/dich-vu-game-ninja">{{ dv.tenDichVu }}</a></div>
							<div class="news_description">
								<p>
									Dịch vụ hỗ trợ: 3
								</p>
								<p>
									Giao dịch: 13,662
								</p>
							</div>
							<div class="a-more">
								<div class="row">

									<div class="col-xs-12">
										<div class="view">
											<a href="#">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</ng-container>
			</div>
				<!-- End-->
		</div>
			<!-- End-->
	</div>
</div>
<!-- END: PAGE CONTENT -->