<div class="c-layout-page">
	<!-- BEGIN: PAGE CONTENT -->
	<div class="c-content-box">
    <div id="slider" class="owl-theme section section-cate slideshow_full_width ">
      <div id="slide_banner" class="owl-carousel">
        <div class="item">
          <a routerLink="/home">
            <img src="assets/assets/images/banner2.png">
          </a>
        </div>
        <div class="item">
          <a routerLink="/home">
            <img src="assets/assets/images/banner1.jpg">
          </a>
        </div>
        <div class="item">
          <a routerLink="/home">
            <img src="assets/assets/images/banner.jpg">
          </a>
        </div>
      </div>
    </div>
	<div class="c-content-box c-size-md c-bg-white">
		<div class="container">
			<!-- Begin: Testimonals 1 component -->
			<div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl">
				<!-- Begin: Title 1 component -->
				<div class="c-content-title-1">
					<h3 class="c-center c-font-uppercase c-font-bold">Dịch vụ nổi bật</h3>
					<div class="c-line-center c-theme-bg"></div>
				</div>
				<div class="owl-carousel owl-theme c-theme owl-bordered1 c-owl-nav-center" data-items="4" data-desktop-items="4" 
				data-desktop-small-items="3" data-tablet-items="3" data-mobile-items="2" data-slide-speed="5000" data-rtl="fase">
					<div class="item">
						<a routerLink="/UCPUBG" ><img src="assets/assets/images/xuninja.jpg"/></a>
					</div>
					
					<div class="item">
						<a routerLink="/napthe" ><img src="assets/assets/images/napthe.jpg"/></a>
					</div>
					
					<div class="item">
						<a href="#" ><img src="assets/assets/images/xukpah.jpg"/></a>
					</div>
					
					<div class="item">
						<a routerLink="/ucpubg" ><img src="assets/assets/images/napuc.jpg"/></a>
					</div>
				</div>
				<!-- End-->
			</div>
			<!-- End-->
		</div>
	</div>    <div class="c-content-box c-size-md c-bg-white">
		<div class="container">
			<!-- Begin: Testimonals 1 component -->
			<div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl">
				<!-- Begin: Title 1 component -->
				<div class="c-content-title-1">
					<h3 class="c-center c-font-uppercase c-font-bold">Danh mục game</h3>
					<div class="c-line-center c-theme-bg"></div>
				</div>
				<div class="row row-flex-safari game-list">
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="#"><img src="assets/assets/images/pubgmobile.gif" alt="Ninja School Online"></a>

							</div>
							<div class="news_title">
								<h2>
									<a href="#">Pubg Mobile</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 20,108
								</p>
								<p>
									Đã bán: 7,150
								</p>
							</div>
							<div class="a-more">
								<div class="row">
									<div class="col-xs-12">
										<div class="view">
											<a href="#">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="#" class=""><img src="assets/assets/images/LQMB.gif"></a>
							</div>
							<div class="news_title">
								<h2>
									<a href="#">Liên Quân Mobile</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 253
								</p>
								<p>
									Đã bán: 14
								</p>
							</div>
							<div class="a-more">
								<div class="row">

									<div class="col-xs-12">
										<div class="view">
											<a href="#">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
                                <a href="#"><img src="assets/assets/images/NSO.gif"></a>
							</div>
							<div class="news_title">
								<h2>
									<a href="#">Liên Minh Huyền Thoại</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 528
								</p>
								<p>
									Đã bán: 0
								</p>
							</div>
							<div class="a-more">
								<div class="row">

									<div class="col-xs-12">
										<div class="view">
											<a href="#">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="#"><img src="assets/assets/images/freefire.gif"></a>
							</div>
							<div class="news_title">
								<h2>
									<a href="#">Garena Free Fire</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 484
								</p>
								<p>
									Đã bán: 528
								</p>
							</div>
							<div class="a-more">
								<div class="row">
									<div class="col-xs-12">
										<div class="view">
											<a href="#">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="#"><img src="assets/assets/images/HTTH.gif"></a>
							</div>
							<div class="news_title">
								<h2>
									<a href="#">Hải Tặc Tí Hon</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 22
								</p>
								<p>
									Đã bán: 0
								</p>
							</div>
							<div class="a-more">
								<div class="row">
									<div class="col-xs-12">
										<div class="view">
											<a href="#">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="#"><img src="assets/assets/images/DAR.gif"></a>
							</div>
							<div class="news_title">
								<h2>
									<a href="#">Ninja School Online</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 154
								</p>
								<p>
									Đã bán: 66
								</p>
							</div>
							<div class="a-more">
								<div class="row">
									<div class="col-xs-12">
										<div class="view">
											<a href="#">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="NRO"><img src="assets/assets/images/NRO.gif"></a>
							</div>
							<div class="news_title">
								<h2>
									<a href="NRO">Ngọc Rồng Online</a>
								</h2>
							</div>
							<div class="news_description">
								<p>
									Số tài khoản: 0
								</p>
								<p>
									Đã bán: 0
								</p>
							</div>
							<div class="a-more">
								<div class="row">
									<div class="col-xs-12">
										<div class="view">
											<a href="#">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image"><a href="#"><img src="assets//assets/images/vongquay.gif"></a></div>
							<div class="news_title"><a href="#">Vòng Quay Trung Thu</a></div>
							<div class="news_description">
								<p>
								Nick đã trúng: 8489</p>
								<p>Người quay: 9809
								</p>
							</div>
							<div class="a-more">
								<div class="row">

									<div class="col-xs-12">
										<div class="view">
											<a href="#">Xem tất cả</a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!--quay vong vong-->
				</div>
				<!-- End-->
			</div>
			<!-- End-->
		</div>
	</div>
	<div class="c-content-box c-size-md c-bg-white">
		<div class="container">
			<!-- Begin: Testimonals 1 component -->
			<div class="c-content-client-logos-slider-1  c-bordered" data-slider="owl">
				<!-- Begin: Title 1 component -->
				<div class="c-content-title-1">
					<h3 class="c-center c-font-uppercase c-font-bold">Danh mục dịch vụ</h3>
					<div class="c-line-center c-theme-bg"></div>
				</div>
				<div class="row row-flex-safari game-list">
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="#"><img src="assets/assets/images/pubgmobile.gif"></a>
							</div>
							<div class="news_title"><a href="/dich-vu/dich-vu-game-ninja">Dịch Vụ Game Pubg Mobile</a></div>
							<div class="news_description">
								<p>
									Dịch vụ hỗ trợ: 3
								</p>
								<p>
									Giao dịch: 13,662
								</p>
							</div>
							<div class="a-more">
								<div class="row">

									<div class="col-xs-12">
										<div class="view">
											<a href="#">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 p-5">
						<div class="classWithPad">
							<div class="news_image">
								<a href="#"><img src="assets/assets/images/LQMB.gif"></a>
							</div>
							<div class="news_title"><a href="#">Dịch Vụ Game Liên Quân Mobile</a></div>
							<div class="news_description">
								<p>
									Dịch vụ hỗ trợ: 1
								</p>
								<p>
									Giao dịch: 1
								</p>
							</div>
							<div class="a-more">
								<div class="row">
									<div class="col-xs-12">
										<div class="view">
											<a href="#">Xem tất cả</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End-->
			</div>
			<!-- End-->
		</div>
	</div>
<!-- END: PAGE CONTENT -->