<div class="container" style="padding-top: 150px;">
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-info" role="alert">
				<h2 class="alert-heading">Thể Loại Game: {{ sanpham.id_theloai }}</h2>
				<p></p>
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom: 15px">
		<div class="m-l-10 m-r-10">
			<form action="timkiem"  role="search" method="GET">
				<div class="col-md-3 col-sm-4 p-5 field-search">
					<div class="input-group c-square">
						<span class="input-group-addon">Tìm kiếm</span>
						<input type="text" class="form-control c-square"placeholder="Tìm kiếm" name="tukhoa">
					</div>
				</div>
			<div class="col-md-3 col-sm-4 p-5 no-radius">
			<button type="submit" class="btn c-square c-theme c-btn-green">Tìm kiếm</button>
			<a class="btn c-square m-l-0 btn-danger" href="">Tất cả</a>
		</div>
	</form>
</div>
</div>
<!-- {{-- sản phẩm --}} -->
	<div class="row row-flex  item-list">
		<ng-container *ngFor="let sp of sanpham">
			<div class="col-sm-6 col-md-3">
				<div class="classWithPad">
					<div class="image">
						<a [routerLink]="['/product/detail',sp.id]">
							<img style="width: 259px;" src="{{ sp.image }}">
							<span class="ms">MS: {{ sp.id }}</span>
						</a>
					</div>
					<div class="description">
						Tên Nv: <b>{{ sp.tennv }}</b>
					</div>
					<div class="attribute_info">
						<div class="row">
							<div class="col-xs-6 a_att">
								Rank: <b>{{ sp.rank }}</b>
							</div>
							<div class="col-xs-6 a_att">
								Skin: <b>{{ sp.skin }}</b>
							</div>
							<div class="col-xs-6 a_att center">
								Cấp Độ: <b> 30 </b>
							</div>
							<div class="col-xs-5 a_att">
								<b>SinGGumNoProxy</b>
							</div>
						</div>
					</div>
					<div class="a-more">
						<div class="row">
							<div class="col-xs-6">
								<div class="price_item">
								{{ sp.giaban | currency: "VND" }}
								</div>
							</div>
							<div class="col-xs-6 ">
								<div class="view">
									<a [routerLink]="['/product/detail',sp.id]">Chi tiết</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
	