
  <header class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">
    <div class="c-topbar c-topbar-light">
      <div class="container">
        <!-- BEGIN: INLINE NAV -->
        <nav class="c-top-menu c-pull-left">
          <ul class="c-icons c-theme-ul">
            <li>
              <a href="" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="" target="_blank">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
          </ul>
        </nav>
      <!-- END: INLINE NAV -->
      <!-- BEGIN: INLINE NAV -->
      <nav class="c-top-menu c-pull-right m-t-10">
        <ul class="c-links c-theme-ul">
          <li>Hotline: <a routerLink="/home">039.260.1352</a></li>
        </ul>
      </nav>
      <!-- END: INLINE NAV -->
    </div>
  </div>
  <div class="c-navbar">
    <div class="container">
      <!-- BEGIN: BRAND -->
      <div class="c-navbar-wrapper clearfix">
        <div class="c-brand c-pull-left">
          <h1 style="margin: 0px; display: inline-block">
            <a
              href="/" class="c-logo"alt="Shop bán nick game, acc game online avatar, đột kích – CF,
               liên minh huyền thoại lol , ngọc rồng, khí phách anh hùng - kpah giá rẻ, uy tín...">
              <img
                height="35px"
                src="assets/assets/images/Zl8ZExw3eu_1582681843.jpg"
                alt=""
                class="c-desktop-logo"/>
              <img
                height="29px"
                src="assets/assets/images/Zl8ZExw3eu_1582681843.jpg"
                alt=""
                class="c-desktop-logo-inverse"/>
              <img
                height="35px"
                src="assets/assets/images/Zl8ZExw3eu_1582681843.jpg"
                alt=""
                class="c-mobile-logo"/>
            </a>
          </h1>
        </div>
        <nav
          class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-bold d-none hidden-xs hidden-sm">
          <ul class="nav navbar-nav c-theme-nav">
            <li class="c-menu-type-classic">
              <a routerLink="/home" class="c-link dropdown-toggle">TRANG CHỦ</a>
            </li>
            <li class="c-menu-type-classic">
              <a routerLink="/huongdanthue" class="c-link dropdown-toggle">HƯỚNG DẪN THUÊ</a>
            </li>
            <li class="c-menu-type-classic">
              <a routerLink="/napthe" class="c-link dropdown-toggle">NẠP THẺ</a>
            </li>
            <li class="c-menu-type-classic">
              <a routerLink="/baiviet" class="c-link dropdown-toggle">BÀI VIẾT</a>
            </li>
            <li class="c-menu-type-classic">
              <a routerLink="/lichsu" class="c-link dropdown-toggle">LỊCH SỬ</a>
            </li>
            <li>
              <a
                routeslink="/login"
                class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
                <i class="fa fa-user"></i> Đăng nhập</a>
            </li>
            <li>
              <a
                routeslink="/register"
                class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold">
                <i class="fa fa-key"></i> Đăng ký</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
