<div class="c-layout-page" style="margin-top: 150px;">
    <!-- BEGIN: PAGE CONTENT -->
    <div class="c-content-box c-size-lg c-overflow-hide c-bg-white font-roboto">
        <div class="container">
        </div>
<form method="POST" action="muaxuninja/4" accept-charset="UTF-8" enctype="multipart/form-data">	
            <div class="container detail-service">
                <div class="col-md-7" style="margin-bottom:20px;">
                    <div class="row-flex-safari service-info">
                        <div class="col-md-5 hidden-xs hidden-sm">
                            <div class="row">
                                <div class="news_image">
                                    <img src="assets/assets/images/UC.jpg" alt="Bán Xu Ninja">
                                </div>
                            </div>
                            <div class="row">
                                <p style="margin-top: 15px" class="bb"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> UC PUBG MOBILE</p>
                                <p style="margin-top: 15px" class="bb"><i class="fa fa-server" aria-hidden="true"></i> <a routerLink="ucpubg" style="color:#32c5d2"> UC PUBG MOBILE</a></p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <span class="mb-15 control-label bb">Nhập số tiền cần mua:</span>
                            <div class="mb-15">
                                <input class="form-control" name="Gia" type="text" placeholder="Số tiền">
                                <span style="font-size: 14px;">Số tiền thanh toán phải từ <b style="font-weight:bold;">10,000đ</b>  đến <b style="font-weight:bold;">500,000đ</b> </span>
                            </div>
                            <span class="mb-15 control-label bb">Tên nhân vật:</span>
                            <div class="mb-15">
                                <input class="form-control" name="TenNV" type="text" placeholder="Tên nhân vật">
                                <span style="font-size: 14px;"><b>Tên nhân vật cần nạp UC</b></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row emply-btns">
                        <div class="col-md-8 col-md-offset-2">
                            <div class=" emply-btns text-center">
                                <span class="mb-11 control-label"> Tổng UC nhận được:</span>
                                <input name="Heso" style="font-size: 20px;font-weight: bold" class="form-control" value="425" readonly="">
                                <button type="submit" style="font-size: 20px;">Thanh toán</button>
                            </div>
                        </div>
                    </div>
                    <div class="row emply-btns box-body" style="color: #505050;padding:20px;line-height: 2;margin-top: 30px">
                    </div>
                </div>
            </div>
        </form>
        <div class="container">
            <div class="job-wide-devider">
                <div class="row">
                    <div class="col-lg-12 column">
                        <div class="job-details">
                            <h2 style="margin-bottom: 23px;font-size: 20px;font-weight: bold;text-transform: uppercase;float: left">Cổng Thanh Toán <span style="font-size:14px;margin-top: 8px;margin-left:5px;font-weight:bold;">(Sẵn sàng phục vụ)</span></h2>
                            <div class="table-bot m_datatable m-datatable m-datatable--default m-datatable--loaded">
                                <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                                    <thead class="m-datatable__head">
                                        <tr class="m-datatable__row">
                                            <th style="" class="m-datatable__cell">
                                                Cổng
                                            </th>
                                            <th class="m-datatable__cell">
                                                Nhân vật
                                            </th>
                                            <th style="" class="m-datatable__cell">
                                                Khu vực
                                            </th>
                                            <th style="" class="m-datatable__cell">
                                                Trạng thái
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="m-datatable__body-bot">
                                        <tr>
                                            <td>1</td>
                                            <td>Master</td>
                                            <td>6</td>
                                            <td>
                                                <span style="color:#2fa70f;font-weight: bold">[ Sẵn Sàng ]</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Master</td>
                                            <td>6</td>
                                            <td>
                                                <span style="color:#2fa70f;font-weight: bold">[ Sẵn Sàng ]</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Master</td>
                                            <td>6</td>
                                            <td>
                                                <span style="color:red;font-weight: bold">[ Bận ]</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Master</td>
                                            <td>6</td>
                                            <td>
                                                <span style="color:#2fa70f;font-weight: bold">[ Sẵn Sàng ]</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Master</td>
                                            <td>6</td>
                                            <td>
                                                <span style="color:red;font-weight: bold">[ Bận ]</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container m-t-20 ">
            <div class="tab-vertical tutorial_area">
                <div class="panel-group" id="accordion">
                </div>
            </div>
        </div>
    </div>
    <!-- END: PAGE CONTENT -->
</div>