<div class="post_content" style="padding-top: 170px;">
    
<h3 style="text-align:center"><span style="color:#FF0000; font-size:30px;"><b>NẠP THẺ KHÔNG CHIẾT KHẤU... NÓI KHÔNG VỚI CHIẾT KHẤU KHÁCH HÀNG</b></span></h3>
<div style="padding-left: 350px; padding-top: 30px;">
<p><span style="font-size:20px"><strong>- Bước 1 : Bạn Đăng Nhập Vào web : <a routerLink="/login"><span style="color:#0000FF">ShopcanTay</span></a>&nbsp;</strong></span><span style="font-size:20px"><strong>Để làm thành viên của web.</strong></span></p>
<p><span style="font-size:20px"><strong>- Bước 2 : Nhấn Vào Trang Này để nạp card :&nbsp;</strong><a routerLink="/napthe"><span style="color:#0000FF"><strong>Nạp Thẻ</strong></span></a></span></p>

<p><span style="font-size:20px"><strong>- Bước 3 : Chọn loại Card Cần Nạp</strong></span></p>

<p><span style="font-size:20px"><strong>- Bước 4 : Nhập Đúng Số Seri Và Mã Thẻ Của Card Bạn Cần nạp</strong></span>.</p>
</div>