<div class="login-box" style="padding-top: 100px">
<!-- /.login-logo -->
<div class="login-box-body box-custom">
    <p class="login-box-msg">Đăng nhập hệ thống</p>
    <span class="help-block" style="text-align: center;color: #dd4b39">
                <strong></strong>
        </span>
    <form action="login" method="POST">
        <div class="form-group has-feedback infox_box">
            <input type="text" class="form-control" name="username" value="" placeholder="Tài khoản">
            <span class="fa fa-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback infox_box">
            <input type="password" class="form-control" name="password" placeholder="Mật khẩu">
            <span class="fa fa-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback otp_code_box">
            <input type="text" id="otp_code" class="form-control" name="odp_code" placeholder="OTP code">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback otp_code_box" style="text-align: right;text-decoration: underline;font-style: italic">
            <a href="javascript://" id="resendOTP" style="font-size: 13px;color: blue;">Gửi lại mã OTP</a>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="checkbox icheck">
                    <label style="color: #666">
                        <input type="checkbox" name="remember" id="remember" > Ghi nhớ
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-6" style="text-align: right">
                <a href="/password/reset" style="color: #666;margin-top: 10px;margin-bottom: 10px;display: block;font-style: italic;">Quên mật khẩu?</a><br>
            </div>
            <!-- /.col -->
        </div>
        <div class="form-group has-feedback otp_code_box loadingbox" style="text-align: center;text-decoration: underline;font-style: italic">
            <div class="loading"><i class="fa fa-spinner  fa-spin" style="font-size:24px"></i></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" id="getIdentityCode" class="btn btn-primary btn-block btn-flat" style="margin: 0 auto;">Đăng nhập</button>
            </div>
            <!-- /.col -->
            <div class="col-xs-12">
                <button type="button" id="sumitButton" class="btn btn-primary btn-block btn-flat" style="margin: 0 auto;display:none">Xác nhận</button>
            </div>
            <!-- /.col -->
            <div class="col-xs-12">
                <button type="submit" id="sumitButton_Login" class="btn btn-primary btn-block btn-flat" style="margin: 0 auto;display:none">Đăng nhập cùng OTP</button>
            </div>
            <!-- /.col -->
        </div>
    </form>

    <div class="social-auth-links text-center">
        <p style="margin-top: 5px">- HOẶC -</p>
        <a href="register" class="btn  btn-social btn-google btn-flat"><i class="fa fa-key icons"></i>Tạo tài khoản</a>
    </div>
    <!-- /.social-auth-links -->
</div>
<!-- /.login-box-body -->
</div>
<!-- /.login-box -->