<footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
    <div class="c-prefooter">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2 style="margin-top: -40px; color: #ffff">
              Bảng Giá <small style="color: red;">Shopcantay</small>
            </h2>
            <div class="c-container c-first"></div>
          </div>
          <div class="col-md-4">
            <div class="c-container c-last" style="color: #ffff;">
              <b  style="margin-left: -160px;">PUBG MOBILE:</b>
              <ul style="list-style: none; margin-left: -80px">
                <li>- 50.000 VNĐ = 205 UC</li>
                <li>- 100.000 VNĐ = 425 UC</li>
                <li>- 200.000 VNĐ = 890 UC</li>
                <li>- 500.000 VNĐ = 2480 UC</li>
                <li>- 1.000.000 VNĐ = 5160 UC</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div id="fb-root" style="color: #ffff">
              <b style="margin-left: -100px">Liên Quân Mobile:</b>
              <ul style="list-style: none;">
                <li>- 20.000 VND = 60 Quân huy</li>
                <li>- 50.000 VND = 300 Quân huy</li>
                <li>- 100.000 VND = 1.640 Quân huy</li>
                <li>- 200.000 VND = 3.280 Quân huy</li>
                <li>- 500.000 VND = 10.300 Quân huy</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-postfooter">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 c-col"></div>
        </div>
      </div>
    </div>
  </footer>
  