<footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
    <div class="c-prefooter">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2 style="margin-top: -40px; color: #ffff">
              Bảng Giá Bán Xu <small>Shopcantay</small>
            </h2>
            <div class="c-container c-first"></div>
          </div>
          <div class="col-md-4">
            <div class="c-container c-last" style="color: #ffff">
              <b>NINJA CHOOL ONLINE</b>
              <ul style="list-style: none; margin-left: -30px">
                <li style="">- Giá xu Sv1 - Sv6: x56</li>
                <li>- 100k = 5,600,000 xu</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div id="fb-root" style="color: #ffff">
              <b>KHÍ PHÁCH ANH HÙNG</b>
              <ul style="list-style: none; margin-left: -30px">
                <li style="">- Giá xu: x0.7</li>
                <li>- 100k = 70,000,000 xu</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-postfooter">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 c-col"></div>
        </div>
      </div>
    </div>
  </footer>
<footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
  <div class="c-prefooter">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 style="margin-top: -40px; color: #ffff">
            Bảng Giá Bán Xu <small>Shopcantay</small>
          </h2>
          <div class="c-container c-first"></div>
        </div>
        <div class="col-md-4">
          <div class="c-container c-last" style="color: #ffff">
            <b>NINJA CHOOL ONLINE</b>
            <ul style="list-style: none; margin-left: -30px">
              <li style="">- Giá xu Sv1 - Sv6: x56</li>
              <li>- 100k = 5,600,000 xu</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div id="fb-root" style="color: #ffff">
            <b>KHÍ PHÁCH ANH HÙNG</b>
            <ul style="list-style: none; margin-left: -30px">
              <li style="">- Giá xu: x0.7</li>
              <li>- 100k = 70,000,000 xu</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-postfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 c-col"></div>
      </div>
    </div>
  </div>
</footer>
  